.App {
  font-family: sans-serif;
  text-align: center;
}
.welcome{
  color:red;
  font-family: 'Pacifico', cursive;
  font-weight: 300;
  letter-spacing: 2px;
}

.img{
  height:250px;
  width:250px;
  border-radius: 30px;
  margin-top: 10px;
  object-fit: cover;
}
